.expertise
    padding-top: 72px
    display: flex
    flex-direction: column
    align-items: center
.expertise__title
    color: #413d4b
    font-family: "Playfair Display"
    font-size: 22px
    font-weight: 700
    text-transform: uppercase
.expertise__description
    opacity: 0.75
    color: #2f2d35
    font-family: "Playfair Display"
    font-size: 14px
    font-weight: 400


.expertise__table
    max-width: 940px
    width: 100%
    height: auto
    border-collapse: collapse
    border: 3px solid white
    margin-top: 48px
    margin-bottom: 68px
    td
        width: 33%
        padding: 3px
        border: 2px solid #f0f0f0
        
   
.expertise__item
    display: flex
    flex-direction: column
    align-items: center
    i
        margin-top: 32px
    span
        color: #413d4b
        font-family: "Roboto - Black"
        font-size: 14px
        font-weight: 400
        text-transform: uppercase
        margin-top: 35px
    p
        max-width: 254px
        width: 70%
        opacity: 0.75
        color: #333333
        font-family: Roboto
        font-size: 14px
        font-weight: 300
        line-height: 22px
        text-align: center
        margin-top: 25px


