.our_story
    display: flex
    justify-content: space-between
    min-height: 338px
    padding-top: 70px
    padding-left: 20.6%
    padding-right: 20.6%
    align-self: center
.our_story__logo
    min-width: 235px
    min-height: 229px
.story
    margin-left: 100px
    
.story__title
    color: #413d4b
    font-family: "Playfair Display"
    font-size: 22px
    font-weight: 700
    text-transform: uppercase
.story__text
    max-width: 538px
    opacity: 0.75
    color: #413d4b
    font-family: Roboto
    font-size: 14px
    font-weight: 300
    line-height: 22px

@media (max-width: 1200px)
    .our_story
        flex-direction: column
        justify-content: center
        align-items: center
    .our_story__logo
        width: 180px
        height: 175px
    .story
        text-align: center
        margin-left: 0
        margin-top: 20px
        margin-bottom: 30px

        
