.team
    background-image: url(../img/fon-team.png)
    background-size: cover
    min-height: 712px
    padding-top: 72px
    display: flex
    flex-direction: column
    align-items: center
.team__description
    width: 100%
    text-align: center
    color: #f9f9f9
    font-family: "Playfair Display"
    font-size: 14px
    font-weight: 400
    letter-spacing: 1.05px
.team__title
    width: 100%
    text-align: center
    color: #ffffff
    font-family: 'Playfair Display'
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 1.1px

.employee-list
    width: 940px
    display: flex
    margin-top: 47px
    position: relative
    justify-content: space-between
    align-items: center

.employee
    cursor: pointer
    width: 220px
    height: 308px
    border: 1px solid #6f6b84
    margin: auto
.employee__face
    width: 100%
    height: 229px
    background-color: #f5f4f6
.employee__name
    display: block
    text-align: center
    margin-top: 16px
    color: #ffffff
    font-family: "Roboto", Black
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.7px
.employee__position
    display: block
    text-align: center
    opacity: 0.7
    color: #fafafa
    font-family: Roboto
    font-size: 13px
    font-weight: 300
    margin-top: 4px
    text-transform: uppercase
.team__tagline
    width: 100%
    text-align: center
    margin-top: 70px
    color: #f3f3f3
    font-family: Roboto
    font-size: 14px
    font-weight: 200
.team__button
    width: 140px
    height: 40px
    color: #00e0d0
    font-family: "Hammersmith One"
    font-size: 16px
    font-weight: 400
    border: 1px solid #00e0d0
    padding-top: 9px 
    padding-left: 15px
    margin-top: 26px
    &:hover
        text-decoration: none
        color: #00e0d0
.team__underscore
    width: 50px
    height: 2px
    background-color: #ffffff
    opacity: 0.2
    margin-top: 18px

@media (max-width: 1100px)
    .employee
        margin-top: 20px
    .employee-list
        flex-wrap: wrap
        width: 60%
        justify-content: space-around
    .team__button
        margin-bottom: 50px
@media (max-width: 810px)
    .employee-list
        flex-direction: column
        justify-content: center