.testimonials
    padding: 
        left: 20.6%
        right: 20.6%
        top: 70px
    display: flex
    flex-direction: column
    align-items: center
    background-image: url(../img/fon-testimonials.png)
    background-size: cover
    min-height: 500px
.testimonials__text
    width: 100%
    max-width: 770px
    opacity: 0.85
    color: #ffffff
    font-family: "Playfair Display"
    font-size: 16px
    font-weight: 400
    text-align: center
    margin-top: 42px
.testimonials__autor
    color: #ffffff
    font-family: "Roboto - Black"
    font-size: 14px
    font-weight: 400
    line-height: 22px
    text-transform: uppercase
    margin-top: 36px
.testimonials__position
    opacity: 0.7
    color: #ffffff
    font-family: Roboto
    font-size: 13px
    font-weight: 300
    line-height: 22px
    text-transform: uppercase
    margin-top: 6px
.testimonials-persons
    display: flex
    align-items: center
    margin-top: 40px

@media (max-width: 940px)
    .testimonials-persons
        margin-bottom: 40px