article.contact_form#contact_form
    h1.contact_form__title GIVE US A GOOD NEWS
    input(type="text" class="contact_form__name" placeholder="Name") 
    input(type="text" class="contact_form__email" placeholder="Email")
    input(type="text" class="contact_form__subject" placeholder="Subject")
    textarea(class="contact_form__massage" placeholder="Your Massage")
    button(type="submit" class="contact_form__submit") SUBMIT