doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Test
        link(rel="stylesheet", href="static/css/main.css")
        script(src="static/js/main.js")
        script(src="static/js/libs.min.js")
    body
        .wrapper
            include index/header.pug
            include index/our_story.pug
            include index/about.pug
            include index/expertise.pug
            include index/team.pug
            include index/works.pug 
            include index/testimonials.pug 
            include index/contact_form.pug
            include index/footer.pug