article.expertise#expertise
    h1.expertise__title EXPERTISE
    span.expertise__description Lorem ipsum dolor sit amet proin gravida nibh vel velit
    table.table.expertise__table
        tr
            td
                .expertise__item                
                    i(class="icon-comp expertise-icon")
                    span WEB DESIGN & DEVELOPMENT
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            td
                .expertise__item                
                    i(class="icon-brush expertise-icon")
                    span BRANDING IDENTITY
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            td
                .expertise__item          
                    i(class="icon-mobile expertise-icon")
                    span MOBILE APP
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        tr
            td
                .expertise__item
                    i(class="icon-graph expertise-icon")
                    span SEARCH ENGINE OPTIMIZATION
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.  
            td
                .expertise__item
                    i(class="icon-heart expertise-icon")
                    span MADE WITH LOVE
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            td
                .expertise__item
                    i(class="icon-game expertise-icon")
                    span GAME DEVELOPMENT
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.