footer.footer#footer
    .footer-top.row
        .footer-left
            i(class="icon-logo footer__logo icon")
            p.footer-left__text
                |lorem quis bibendum auctor, 
                |nisi elit consequat ipsum, nec sagittis sem nibh elit. 
                |Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
        .footer-center
            span.footer-center__title OUR STUDIO
            .footer-center__address
                i(class="icon-location icon")
                p.footer-address-text Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
            .footer-center__phone
                i(class="icon-phone icon")
                a(href="tel:+622122243333").footer-phone-text (+62) 21-2224 3333
        .footer-right
            span.footer-right__title STAY IN TOUCH
            form.footer-form
                input(type="text" id="footer-form__text" placeholder="Subscribe our newsletter" required).footer-form__text
                label(for="footer-form__text" class="footer-form__label label") Subscribe our newsletter
                button(type="submit").footer-form__submit 
                    i(class="icon-paper icon")
            .footer-right__list-icons
                i(class="icon-facebook footer-right__icon")
                i(class="icon-twitter footer-right__icon")
                i(class="icon-ball footer-right__icon")
                i(class="icon-instagram footer-right__icon")
                i(class="icon-google footer-right__icon")
                i(class="icon-youtube footer-right__icon")
    .footer-bottom
        .footer-bottom__list-links
            a(href="#" class="footer-bottom__link") HELP
            a(href="#" class="footer-bottom__link") TERMS & CONDITION
            a(href="#" class="footer-bottom__link") PRIVACY
        span.footer-bottom__creator Copyright © 2015 - Tajem Creative