header.header#header
    div(class="header-top")
        i(class="icon-logo header__logo") 
        nav.nav
            a(href="index.html#header" class="nav__item") HOME
            a(href="index.html#our_story" class="nav__item") ABOUT
            a(href="index.html#expertise" class="nav__item") EXPERTISE
            a(href="index.html#team" class="nav__item") TEAMS
            a(href="index.html#works" class="nav__item") WORKS
            a(href="index.html#testimonials" class="nav__item") PEOPLE SAY
            a(href="index.html#contact_form" class="nav__item") CONTACT
    h1.header__title We Are Awesome Creative Agency
    p.header__text This is Photoshop's version  of Lorem Ipsum. 
        |Proin gravida nibh vel velit auctor aliquet. 
        |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
        |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
    a(href="#").header__button LEARN MORE