article.team#team
    h1.team__title MEET OUR AMAZING TEAM
    span.team__description Lorem ipsum dolor sit amet proin gravida nibh vel velit
    - var name = ["SEMF UCUK", "DIK ADALIN", 'JENG KOL', "PET ROMAK"];
    - var position = ["CEO & FOUNDER", "ENGINEERING", "DESIGNER", "MARKETING"];
    .employee-list
        - for (var i = 0; i < name.length; i++) {
            .employee
                .employee__face 
                span(class="employee__name")=name[i] 
                span(class="employee__position")=position[i]
        - }
    span.team__tagline Become part of our dream team, let’s join us ! 
    a(href="#" class="team__button") WE ARE HIRING
    
    
