.testimonials#testimonials
    i(class="icon-quotes testimonials__quotes")
    .slick-slider
        .slider-item
            p.testimonials__text
                |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                |Sed non  mauris vitae erat consequat auctor eu in elit.
            span.testimonials__autor  JANE GALADRIEL
            span.testimonials__position CEO TENGKUREP
        .slider-item
            p.testimonials__text
                |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            span.testimonials__autor  JANE GALADRIEL
            span.testimonials__position CEO TENGKUREP
        .slider-item
            p.testimonials__text
                |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                |Sed non  mauris vitae erat consequat auctor eu in elit.
            span.testimonials__autor  JANE GALADRIEL
            span.testimonials__position CEO TENGKUREP
        .slider-item
            p.testimonials__text
                |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                |Sed non  mauris vitae erat consequat auctor eu in elit.
            span.testimonials__autor  JANE GALADRIEL
            span.testimonials__position CEO TENGKUREP
        .slider-item
            p.testimonials__text
                |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                |Sed non  mauris vitae erat consequat auctor eu in elit.
            span.testimonials__autor  JANE GALADRIEL
            span.testimonials__position CEO TENGKUREP
    .testimonials-persons
        img(src="static/img/person1.png", alt="" class="person")
        img(src="static/img/person2.png", alt="" class="person")
        img(src="static/img/person3.png", alt="" class="person")
        img(src="static/img/person4.png", alt="" class="person")
        img(src="static/img/person5.png", alt="" class="person")