.works#works
    .works-top
        h1.works__title OUR WORKS
        .works-top__link
            a(href="#" class="work-link-text") See All Project in dribbble
            i(class="icon-arrow-right icon")
    .works-list.row
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
        .works__item
    a(href="#" class="works__button") LOAD MORE